<center>

<button><a href="{% url 'yaziki:sozdat_blog' %}">Добавить</a></button>

<br><br>

<form action="/search/" method="GET">
    <input type="text" type="search" name="s" placeholder="Найти язык программирования">
    <button type="submit">Найти</button>
</form>


{% for i in prog_lang %}

<h1>{{ i.title }}</h1>
<p> <a href="/prog_lang/{{ i.id }}/">Подробнее</a></p>

<p> <a href="/prog_lang/{{ i.id }}/delete/">Удалить</a> </p>
<p> <a href="/prog_lang/{{ i.id }}/update/">Редактировать</a> </p>
{% endfor %}


<div class="pagination">
        <span class="step-links">
            {% if prog_lang.has_previous %}
                <a href="?page=1">&laquo; Первая</a>
                <a href="?page={{ prog_lang.previous_page_number }}">Предыдущая</a>
            {% endif %}

            <span class="current">
                Страница {{ prog_lang.number }} из {{ prog_lang.paginator.num_pages }}.
            </span>

            {% if prog_lang.has_next %}
                <a href="?page={{ prog_lang.next_page_number }}">Следующая</a>
                <a href="?page={{ prog_lang.paginator.num_pages }}">Последняя &raquo;</a>
            {% endif %}
        </span>
    </div>

<form action="/login/" method="post">
    {%  csrf_token  %}
    <button type="submit">Выйти из аккаунта</button>
</form> 


</center>